menu "Example Configuration"

    config BROKER_URI
        string "Broker URL"
        default "mqtts://mqtt.eclipseprojects.io:8883"
        help
            URL of an mqtt broker which this example connects to.

    config CLIENT_ID
        string "Client ID"
        default "espDevice"
        help
            Client ID used to identify this device to the broker.

endmenu
